Repository andrewsemchism/flexboxfroggy, pull requests merged in 2024-03, with the labels that each got.

#14 chore/adds translation as valid branch prefix
  .githooks/pre-commit
  .github/labeler.yml
Labels: chore

#22 chore/changed to bugfix
  .github/workflows/pr-title-verification.yml
Labels: feature, bugfix

#34 chore/fixed bug in changelog script
  .github/workflows/update-changelog.yml
Labels: chore

#35 test/close issue
  .githooks/pre-commit
  .github/workflows/test-deploy.yml
Labels: test
